title #{app} | #{title}

meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(name='Copyright', content='(c) 2014 __Protodx__')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='description', content='Code == Life')
meta(name='keywords', content='david rivera blog protodx programmer engineer')
block meta

// SCRIPTS
script(type="text/javascript", src="/linker/js/jquery.min.js")
script(type="text/javascript", src="/linker/js/bootstrap.min.js")
// SCRIPTS END

// STYLES
link(rel="stylesheet", href="/linker/styles/boostrap.min.css")
link(rel="stylesheet", href="/linker/styles/main.css")
// STYLES END
